//
//  ProjectDebug.xcconfig
//
//  takram design engineering Confidential
//
//  Copyright (C) 2015 Shota Matsuda
//
//  All information contained herein is, and remains the property of takram
//  design engineering and its suppliers, if any. The intellectual and
//  technical concepts contained herein are proprietary to takram design
//  engineering and its suppliers and may be covered by U.S. and Foreign
//  Patents, patents in process, and are protected by trade secret or copyright
//  law. Dissemination of this information or reproduction of this material is
//  strictly forbidden unless prior written permission is obtained from takram
//  design engineering.
//

// Configuration for Xcode 6

#include "Project.xcconfig"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf

// Deployment
COPY_PHASE_STRIP = NO

// Apple LLVM 6.0 - Code Generation
GCC_OPTIMIZATION_LEVEL = 0
GCC_FAST_MATH = NO

// Apple LLVM 6.0 - Preprocessing
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1 __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0

// User-Defined
MTL_ENABLE_DEBUG_INFO = YES
