//
//  shared.xcconfig
//
//  The MIT License
//
//  Copyright (C) 2014-2015 Shota Matsuda
//
//  Permission is hereby granted, free of charge, to any person obtaining a
//  copy of this software and associated documentation files (the "Software"),
//  to deal in the Software without restriction, including without limitation
//  the rights to use, copy, modify, merge, publish, distribute, sublicense,
//  and/or sell copies of the Software, and to permit persons to whom the
//  Software is furnished to do so, subject to the following conditions:
//
//  The above copyright notice and this permission notice shall be included in
//  all copies or substantial portions of the Software.
//
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
//  THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
//  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
//  DEALINGS IN THE SOFTWARE.
//

// Boost
BOOST_HEADER_SEARCH_PATHS[sdk=macosx*] = "/usr/local/include"
BOOST_HEADER_SEARCH_PATHS[sdk=iphoneos*] = "$(SOLAS_DIR)/build/boost/include"
BOOST_HEADER_SEARCH_PATHS[sdk=iphonesimulator*] = "$(SOLAS_DIR)/build/boost/include"
BOOST_LIBRARY_SEARCH_PATHS[sdk=macosx*] = "/usr/local/lib"
BOOST_LIBRARY_SEARCH_PATHS[sdk=iphoneos*] = "$(SOLAS_DIR)/build/boost/lib"
BOOST_LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = "$(SOLAS_DIR)/build/boost/lib"

// Linking
SOLAS_OTHER_LDFLAGS[sdk=macosx*] = -framework AppKit -framework CoreGraphics -framework Foundation -framework GLKit -framework ImageIO -framework OpenGL -framework QuartzCore
SOLAS_OTHER_LDFLAGS[sdk=iphoneos*] = -framework CoreGraphics -framework Foundation -framework GLKit -framework ImageIO -framework MobileCoreServices -framework OpenGLES -framework QuartzCore -framework UIKit
SOLAS_OTHER_LDFLAGS[sdk=iphonesimulator*] = -framework CoreGraphics -framework Foundation -framework GLKit -framework ImageIO -framework MobileCoreServices -framework OpenGLES -framework QuartzCore -framework UIKit
